# Configuration parameters for StarlightChains_v04.for - Cid@Lagoa - 18/Feb/2007 #
#
#
# Normalization lambdas
#
5620.0        [l_norm    (A)]                  = for base spectra only
5590.0        [llow_norm (A)]                  = for observed spectrum
5680.0        [lupp_norm (A)]                  =  "   "        "    
#
#
# Parameter Limits
#
  -1.0        [AV_low (mag)]                   = lower allowed AV
   4.0        [AV_upp (mag)]                   = upper allowed AV
  -0.0001     [YAV_low (mag)]                  = lower allowed YAV
   0.0001     [YAV_upp (mag)]                  = upper allowed YAV
   0.7        [fn_low]                         = lower allowed Norm. factor = sum x_j
   1.3        [fn_upp]                         = upper allowed Norm. factor = sum x_j
-500.0        [v0_low (km/s)]                  = lower allowed v0
 500.0        [v0_upp (km/s)]                  = upper allowed v0
   0.0        [vd_low (km/s)]                  = lower allowed vd
 500.0        [vd_upp (km/s)]                  = upper allowed vd
#
#
# Clipping options & Weight-Control-Filter
#
NSIGMA        [clip_method_option]             = NOCLIP/NSIGMA/RELRES/ABSRES = possible clipping methods
3.0           [sig_clip_threshold]             = clip points which deviate > than this # of sigmas
2.0           [wei_nsig_threshold]             = weight-control-filter. Use <= 0 to turn this off! (see manual)
#
#
# Miscellaneous
#
    50.0      [dl_cushion (A)]                 = safety margin for kinematical filter!
     0.001    [f_cut (units of f_norm)]        = Mask/ignore very low fluxes: f_obs <= f_cut
    31        [N_int_Gauss]                    = # of points for integration of kinematical filter 
     1        [i_verbose]                      = 0/1      = Quiet/Talkative
     1        [i_verbose_anneal]               = 0/1/2/3  = Quiet/.../Verborragic
     0        [Is1stLineHeader]                = 1/0 = Y/N
     0        [i_FastBC03_FLAG]                = 1 for Fast-rebin of BC03 spectra!
     0        [i_FitPowerLaw]                  = 1/0 = Y/N - include a Power Law in base 
    -0.5      [alpha_PowerLaw]                 = PL index, only used if iFitPowerLaw = 1
     0        [i_SkipExistingOutFiles]         = 1/0 = Y/N - skip or overwrite fits with already existent arq_out
#
#
# Markov Chains technical parameters
#
     7        [N_chains]                       = # of Markov Chains
     0.50     [xinit_max]                      = max(x_j) for initial random chain pop-vecs
     0        [i_UpdateEps]                    = 1/0 = Y/N. Not well tested: use 0!
     2        [i_UpdateAlpha]                  = 0/1/2. 1 & 2 update step-sizes dynamically. 0 turns this off.
     2.0      [Falpha]                         = step-updating-factor.
     1        [i_MoveOneParOnly]               = 1/0 = Y/N. Not tested/debugged! Use 1!
     1        [i_UpdateAVYAVStepSeparately]    = 1/0 = Y/N. 
     1        [i_HelpParWithMaxR]              = 1/0 = Y/N. Help convergence of ParWithMaxR 
     0.2      [prob_jRmax]                     = prob to pick ParWithMaxR
     1        [i_HelpPopVectorMove2Average]    = 1/0 = Y/N. Help x convergence 
     0.4      [prob_HelpPopVectorMove2Average] = prob of inverting sign of x-move to go towards mean
     1        [i_HelpAVYAVMove2Average]        = 1/0 = Y/N. Help AV/YAV convergence 
     0.4      [prob_HelpAVYAVMove2Average]     = prob of inverting sign of AV/YAV-move to go towards mean
    10        [NRC_AV_Default]                 = initial # of terms in the RC AV-series
#
#
# First Fits (FF) technical parameters
#
1.0e2         [Temp_ini_FF]                    = initial Temperature 
1.0           [Temp_fin_FF]                    = final   Temperature
1.0e1         [fini_eps_FF]                    = initial step-size (fraction of low->upp range)
1.0e2         [ffin_eps_FF]                    = final   step-size (fraction of low->upp range)
1.3           [R_ini_FF]                       = initial GR-R convergence threshold
1.2           [R_fin_FF]                       = final   GR-R convergence threshold
0             [IsGRTestHard_FF]                = 0/1 = Hard/Soft GR-R convergence criterion
10            [N_loops_FF]                     = # of annealing loops
1             [i_RestartChains_FF]             = 1/0 = Y/N = Reset chains to best pars after each loop
1.0e1         [fN_sim_FF]                      = x N_par = length of each chain loop...
1.0e4         [fNmax_steps_FF]                 = max length of each chain loop...
0.23          [eff_IDEAL_FF]                   = ideal efficiency, used to optimize step-sizes
#
#
# GR R-threshold & Method for Burn-In loop
#
1.2           [R_Burn_in]                      = GR-R convergence threshold for burn-in
1             [IsGRTestHard_BurnIn]            = 0/1 = Hard/Soft GR-R convergence criterion
#
#
# EX0s technical parameters
#
MIN           [EXOs_PopVector_option]          = MIN/AVE = Use x_min or x_ave to define condensed base
CUMUL         [EXOs_method_option]             = CUMUL/SMALL = method to define irrelevant components
0.02          [EXOs_Threshold]                 = Irrelevance threshold
1.0           [Temp_ini_EX0s]                  = Analogous to FF entries above!
1.0e-3        [Temp_fin_EX0s]                  =    "
1.0e2         [fini_eps_EX0s]                  =    "
1.0e3         [ffin_eps_EX0s]                  =    "
1.2           [R_ini_EX0s]                     =    "
1.0           [R_fin_EX0s]                     =    "
1             [IsGRTestHard_EX0s]              =    "
10            [N_loops_EX0s]                   =    "
1             [i_RestartChains_EX0s]           =    "
1.0e2         [fN_sim_EX0s]                    =    "
1.0e3         [fNmax_steps_EX0s]               =    "
0.50          [eff_IDEAL_EX0s]                 =    "
1             [IsScaleNstepsInEX0sFits]        = 1/0 = Y/N = Scale numbers of steps by # of EX0 components.
0             [IsNoKin4LargeBaseInEX0sFits]    = 1/0 = Y/N = Stop v0 & vd fits in EX0s for large bases
0.0           [frac_NoKin4LargeBaseInEX0sFits] = Will stop v0 & vd fits if EX0-bases > frac_... * N_base
0.1           [fEX0_MinBaseSize]               = EX0-fits will use at least fEX0_MinBaseSize * N_base components


Cid@Lagoa - 18/February/2007


Technical parameters you may want to play with to obtain FAST, MEDIUM
& SLOW fits:

--------------------------------
|  FAST  |    MEDIUM  |  LONG  |
--------------------------------      
|  5     |    7       |  12    | [N_chains]
|  3     |    5       |  10    | [N_loops_FF & *_EX0s]
|  1.3   |    1.2     |  1.1   | [R_ini_FF & R_fin_FF & *_EX0s]
|  0     |   0 or 1   |  1     | [IsGRTestHard_FF & *_BurnIn & *_EX0s]
--------------------------------
